In [1]:
#librerias
#!pip install -r requirements.txt #si se usa python2
#si se usa python 3
!python3 -m pip install -r requirements.txt
#!python -m pip install -r requirements.txt #correr pyhon3 si no tiene instalado el 2.7

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (2.0.36)
Requirement already satisfied: python-dotenv in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from -r requirements.txt (line 3)) (1.0.1)
Requirement already satisfied: psycopg2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from -r requirements.txt (line 4)) (2.9.10)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)

In [2]:
#Importar la conexiones a las bases de datos 
from connection_script import connect_databases

In [10]:
# Prueba de conexion a la base de datos
#!python3 test_bd.py

In [3]:
#Ejecutar ETL Departamento 
!python3 DimDepartamento.py

Departamento 4 insertado correctamente.
Departamento 3 insertado correctamente.
Departamento 2 insertado correctamente.
Departamento 1 insertado correctamente.
Registros en la base de datos 'etl_rapidos_furiosos':
   ID Departamento Nombre Departamento
0                1     VALLE DEL CAUCA
1                2        CUNDINAMARCA
2                3               CAUCA
3                4              NARIÑO

In [4]:
#Ejecutar ETL Ciudades 
!python3 DimCiudades.py

Registros en la base de datos 'etl_rapidos_furiosos' (ciudades):
    ID Ciudad  Nombre Ciudad  ID Departamento
0           1           CALI                1
1           2        PALMIRA                1
2           3        POPAYAN                3
3           4          PASTO                4
4           5         BOGOTA                2
5           6           BUGA                1
6           7          TULUA                1
7           8          YUMBO                1
8           9        JAMUNDI                1
9          10        GUACARI                1
10         11     CANDELARIA                1
11         12        CARTAGO                1
12         13    ACOPI YUMBO                1
13         14   CENCAR YUMBO                1
14         15         ZARZAL                1
15         16     VILLA RICA                3
16         17        FLORIDA                1
17         18        PRADERA                1
18         19  CALIMA DARIEN                1

In [5]:
#Ejecutar ETL Tipo Cliente 
!python3 DimTipoCliente.py

Tipo de cliente 1 insertado correctamente.
Tipo de cliente 2 insertado correctamente.
Registros en la base de datos 'etl_rapidos_furiosos' (tipo_cliente):
   ID Tipo Cliente            Nombre Descripción
0                1  Persona Juridica         NaN
1                2   Persona Natural         NaN

In [6]:
#Ejecutar ETL Clientes 
!python3 DimCliente.py

Cliente 1 insertado correctamente.
Cliente 2 insertado correctamente.
Cliente 6 insertado correctamente.
Cliente 19 insertado correctamente.
Cliente 8 insertado correctamente.
Cliente 3 insertado correctamente.
Cliente 4 insertado correctamente.
Cliente 5 insertado correctamente.
Cliente 7 insertado correctamente.
Cliente 9 insertado correctamente.
Cliente 10 insertado correctamente.
Cliente 11 insertado correctamente.
Cliente 12 insertado correctamente.
Cliente 13 insertado correctamente.
Cliente 14 insertado correctamente.
Cliente 15 insertado correctamente.
Cliente 16 insertado correctamente.
Cliente 17 insertado correctamente.
Cliente 18 insertado correctamente.
Cliente 20 insertado correctamente.
Cliente 21 insertado correctamente.
Cliente 22 insertado correctamente.
Cliente 23 insertado correctamente.
Cliente 24 insertado correctamente.
Cliente 25 insertado correctamente.
Cliente 26 insertado correctamente.
Cliente 27 insertado correctamente.
Registros en la base de datos 'etl_rapidos_furiosos' (cliente):
    ID Cliente  ... ID Ciudad
0            1  ...         1
1            2  ...         1
2            3  ...         1
3            4  ...         1
4            5  ...         1
5            6  ...         1
6            7  ...         1
7            8  ...         1
8            9  ...         1
9           10  ...         1
10          11  ...         1
11          12  ...         1
12          13  ...         1
13          14  ...         1
14          15  ...         1
15          16  ...         1
16          17  ...         1
17          18  ...         1
18          19  ...         1
19          20  ...         8
20          21  ...         1
21          22  ...         1
22          23  ...         1
23          24  ...         1
24          25  ...         1
25          26  ...         1
26          27  ...         1

[27 rows x 4 columns]

In [8]:
#Ejecutar ETL Tipo Vehiculo 
!python3 DimTipoVehiculo.py

Tipo de vehículo 3 insertado correctamente.
Tipo de vehículo 4 insertado correctamente.
Tipo de vehículo 2 insertado correctamente.
Tipo de vehículo 1 insertado correctamente.
Registros en la base de datos 'etl_rapidos_furiosos' (tipo_vehiculo):
   ID Tipo Vehículo            Nombre       Descripción
0                 1  Automóvil - Vans  Automóvil - Vans
1                 2              Moto              Moto
2                 3     Moto carguero     Moto carguero
3                 4         Camioneta         Camioneta

In [10]:
#Ejecutar ETL Tipo Pago 
!python3 DimTipoPago.py

Tipo de pago 1 insertado correctamente.
Tipo de pago 2 insertado correctamente.
Tipo de pago 3 insertado correctamente.
Tipo de pago 4 insertado correctamente.
Tipo de pago 5 insertado correctamente.
Tipo de pago 6 insertado correctamente.
Tipo de pago 7 insertado correctamente.
Registros en la base de datos 'etl_rapidos_furiosos' (tipo_pago):
   ID Tipo Pago               Nombre     Descripción
0             1             Efectivo        Efectivo
1             2              Crédito         Crédito
2             3             Datáfono        Datáfono
3             4       Recibo de caja  Recibo de caja
4             5             Traslado        Traslado
5             6             convenio        convenio
6             7  Compra de repuestos         Compras

In [15]:
#Ejecutar ETL Sedes 
!python3 DimSedes.py

La sede con ID 10 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 11 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 13 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 14 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 23 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 24 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 25 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 26 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 32 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 33 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 35 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 46 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 44 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 45 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 1 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 2 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 5 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 7 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 9 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 8 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 48 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 28 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 49 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 40 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 6 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 41 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 42 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 15 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 16 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 17 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 18 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 19 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 20 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 21 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 22 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 29 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 34 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 36 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 37 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 47 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 51 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 30 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 50 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 38 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 31 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 52 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 53 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 54 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 85 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 3 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 4 ya existe en etl_rapidos_furiosos, no se insertará.
La sede con ID 12 ya existe en etl_rapidos_furiosos, no se insertará.
Registros en la base de datos 'etl_rapidos_furiosos' (sedes):
    ID Sede                       Nombre Sede  ID Ciudad
0         1         Sede principal - Cliente1          1
1         2              sede aux - cliente 1          1
2         3               TORRES DE MARACAIBO          1
3         4                           INGENIO          1
4         5                      VASQUEZ COBO          1
5         6                         CAPITOLIO          1
6         7                     VILLACOLOMBIA          1
7         8             PRINCIPAL / OCCIDENTE          1
8         9                 PRINCIPAL/ ESENSA          1
9        10                   FARALLONES /123          1
10       11                     REMEDIOZ/ 123          1
11       12            PALMA REAL / LOS ROJOS          2
12       13                  DIME / LOS ROJOS          1
13       14             DESPACHOS / LOS ROJOS          1
14       15  PRINCIPAL NORTE / CHINA PACIFICO          1
15       16       MEGATALLER / CHINA PACIFICO          1
16       17                BUSES Y CAMIONES -          1
17       18                            FORCAS          1
18       19                         HYUNDAI /          1
19       20                FORD CAÑAS FLASCAS          1
20       21                    BUGA BODEGA 24          6
21       22                 TULUA BODEGA 26 /          7
22       23             POPAYAN BODEGA 28 / A          3
23       24                  PASTO VITRINA /           4
24       25                  PASTO BODEGA 29/          4
25       26            PALMIRA BODEGA 20  /            2
26       28             CONTRIBUTIVO / ESENSA          1
27       29          PROVIDA ATENCION BASICA           1
28       30                 RIOCAUCA / ESENSA          1
29       31                        CRISTO REY          1
30       32                   CLINICA FABILUX          1
31       33                FORDES PASOANCHOS           1
32       34                         AUTOPISTA          1
33       35                            JMC /           1
34       36                     PRINCIPAL /14          1
35       37                             HEMAS          1
36       38                          HEMOLIFE          1
37       40                    TRAUMA ORIENTE          1
38       41                         ARTMEDICA          1
39       42                      CLINICA CALI          1
40       44                       VALLE NORTE          1
41       45                          CAMBULOS          1
42       46                     SAN BER NANDO          1
43       47                      CLINICA CALI          1
44       48              BATALLON DISPENSARIO          1
45       49                         OCCISALUD          1
46       50                         RECUPERAR          1
47       51                         CLUB NOEL          1
48       52                      NUEVA HEMATO          1
49       53                      NUEVA HEMATO          1
50       54                      NUEVA HEMATO          1
51       85                             CIMEX          1